registry=https://pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/registry/:username=marcinlovescode
//pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/:username=marcinlovescode
//pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/marcinlovescode/_packaging/marcinlovescode/npm/:email=npm requires email to be set but doesn't use the value
; end auth token